.show-shark {
  // background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60vw;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #004271b5;
  color: white;
  font-family: $body-font;

  h2 {
  margin: 16px;
  font-family: $headers-font;
  font-weight: 700;
  text-transform: uppercase;

  }

  .image-details-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
    // width: 80%
    // border: ridge;

    img {
      height: 240px;
      object-fit: cover;
      border-radius: 5px;
      flex-grow: 1;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    }

    p {
      margin: 16px;
      padding: 0
    }
  }

  .shark-details {
    padding-left: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border: ridge;

    p {
      margin: 16px;
      text-align: left;
    }
  }

  .details-flex {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
    // border: ridge;

    .shark-description {
      width: 50%;
      text-align: left;
      padding: 16px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
      border: ridge;
    }

    .embed-booking {
      width: 40%;
      border: ridge;
      padding: 16px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
      background: #47b2cf97;

      h2 {
        color: white;
      }
    }
  }

  .embed-review-form {
    // border: solid;

    h2 {
      text-align: left;
    }

    .list-reviews-flex {
      // border: solid;
      display: flex;
      // flex-wrap: wrap;

      .list-review-detail {
        // border: solid;
        width: 50%;
        margin: 16px;
        // background-color: #47b2cf97;
        // border-radius: 16px;
        // color: white;
      }
    }
  }
}


// </div>
// <div class="embed-review-form">
//   <h2>Reviews</h2>
//   <div class="list-reviews-flex">
//     <div class="list-review-item">
//       <% @shark.reviews.each do |review| %>
//         <div class="list-review-detail">
//           <p><%= review.title %></p>
//           <p><%= review.content %></p>
//           <p><%= review.rating %></p>
//         </div>
//       <% end %>
//     </div>
//   </div>
//   <br>
//   <%= render 'reviews/form' %>


// .btn-primary {
//   align-self: center;
//   margin: 32;
// }
