
<div class="bookings-title">
    <h2 id="company_name">Your Bookings</h2>
</div>
  <div class="container-bookings">
    <div class="cards">
    <% @bookings.each do |booking| %>
    <div class="card-shark">
       <img src="<%= booking.shark.picture_url %>">
       <h3 id="card-text-bookings"><%=booking.shark.name%></h3>
       <p id="card-text-bookings">From: <%=booking.start_date%><br>To: <%=booking.end_date%></p>
     </div>
     <% end %>
    </div>
  </div>
