<div class="footer">
    <div class="col">
      <p><%= link_to "Back to Home Reef" %></p>
    </div>
    <div class="col">
      <p><%= link_to "Contact" %></p>
    </div>
    <div class="col">
      <p><%= link_to "(There's just some fin) About Us" %></p>
    </div>
</div>
