<div class="footer">
    <div class="col">
      <p><%= link_to "c 2023 SharkBait, Inc. All rights reserved." %></p>
    </div>
    <div class="col">
      <p><%= link_to "Designed by: Ben Heyman , Malak Hasanova , Linnea Jonsson , Luke Sherman , Camille Laporte" %></p>
    </div>
    <div class="col">
      <p><%= link_to "" %></p>
      <div class="icons-col">
      <a href="#"><i class="fa-brands fa-facebook rounded p-2"></i></a>
      <a href="#"><i class="fa-brands fa-twitter rounded p-2"></i></a>
      <a href="#"><i class="fa-brands fa-pinterest rounded p-2"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin rounded p-2"></i></a>
      <a href="#"><i class="fa-brands fa-instagram rounded p-2"></i></a>
      <a href="#"><i class="fa-brands fa-youtube rounded p-2"></i></a>
      </div>
</a>
    </div>
</div>
