
<%# <h2>Shark Card:</h2> %>
<div class="card-shark">
 <%= image_tag "sharky.jpeg", alt: "shark pic" %>
  <div class="card-shark-info">
    <div>
      <h3>Alex Hammer</h3>
      <p>Age: 47</p>
      <p>Type: Hammerhead</p>
  </div>
  <p>£700</p>
  </div>
</div>
