
<%# <h2>Shark Card:</h2> %>
<div class="card-shark">
 <%= image_tag "sharky.jpeg", alt: "shark pic" %>
  <div class="card-shark-info">
    <div>
      <h4>Alex Hammer</h4>
      <p><strong>Age:</strong> 47</p>
      <p><strong>Type:</strong> Hammerhead</p>
  </div>
  <p class="text-price">£700</p>
  </div>
</div>
