<div class footer="d-flex justify-content-between">
  <ul>
  <li><%= link_to "Back to Home reef" %></li>
  <li><%= link_to "contact us" %></li>
  <li><%= link_to "There's just some fin about us" %></li>
  </ul>
</div>


