<div class="homepage-cards-container">
      <div class="homepage-card">
          <div class="face face1">
              <div class="home-card-content">
                  <i class="fa-solid fa-fish"></i>
                  <h3>Rent A Shark</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="home-card-content">
                  <p>We've got sharks for all the family. Big ones, small ones, playful ones & even hungry ones!</p>
                  <br>
                  <a href="/sharks" class="btn-big">See our sharks</a>
              </div>
          </div>
      </div>
      <div class="homepage-card">
          <div class="face face1">
              <div class="home-card-content">
                  <i class="fa-solid fa-water"></i>
                  <h3>List Your Shark With Us</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="home-card-content">
                  <p>We are the only place online to rent out your shark, so you have no other choice!</p>
                  <br>
                  <a href="/sharks/new" class="btn-big">List a shark</a>
              </div>
          </div>
      </div>
      <div class="homepage-card">
          <div class="face face1">
              <div class="home-card-content">
                  <i class="fa-solid fa-disease"></i>
                  <h3>#1 Shark Rental Service</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="home-card-content">
                  <p>By shark-lovers, for shark-lovers. We believe they get a bad rap! Discover our story.</p>
                  <br>
                  <a href="/sharks" class="btn-big">About</a>
              </div>
          </div>
      </div>
  </div>
