<div class="container-home">
  <div class="card-homepage">
    <div class=" d-flex flex-column align-items-center">
      <h1 id="company_name">SharkBa<span class="red-text">i</span>t</h1>
      <h3 class="white-text">Your #1 reef-source for everything sharks</h3>
      <br>
        <%# <h2 id="tagline">I chews you</h2> %>
          <%= image_tag "shark_vector.png", alt: "shark cartoon" %>
        <br>
    </div>
    <div class=" d-flex flex-column">
      <%= render 'home_cards' %>
    </div>
  </div>
</div>

      <%# <p>Ever felt like your life was hollow and needed a little bite?</p>
      <p>Are you allergic to cats but always wanted a pet?</p>
      <p>Did you ever think dog-ownership was for self-hating suckers?</p>
        <br> %>
