<h1 id="company_name">SharkBait</h1>
<p id="tagline">I chews you</p>
<%= image_tag "shark_vector.png", alt: "shark cartoon" %>
<br>
<a href="" class="btn-big">See all sharks</a>


<!-- <%= render "shared/shark_card" %> -->
