<div class="container-home">
  <div class="card-homepage">
    <div class=" d-flex flex-column align-items-center">
      <h1 id="company_name">SharkBait</h1>
        <h5 id="tagline">I chews you</h5>
          <%= image_tag "shark_vector.png", alt: "shark cartoon" %>
        <br>
    </div>
    <div class="">
      <h5>Your #1 reef-source for everything sharks</h5>
        <%# <p>Your number-one resource for everything sharks</p> %>
          <br>
    </div>
    <div class=" d-flex flex-column">
      <%# <p>Join the Reef so you can...</p>
          <br> %>
      <ul>
        <li>Rent a shark, for all your sharking needs!</p>
        <li>Impress your friends with your cool new pet shark!</p>
        <li>Enjoy the thrills of shark ownership from the comfort of your own bathtub!</p>
      </ul>
            <br>
          <a href="<%= sharks_path%>" class="btn-big">Meet the Sharks now</a>
            <br>
    </div>
  </div>
</div>

      <%# <p>Ever felt like your life was hollow and needed a little bite?</p>
      <p>Are you allergic to cats but always wanted a pet?</p>
      <p>Did you ever think dog-ownership was for self-hating suckers?</p>
        <br> %>
