<h1 id="company_name">SharkBait</h1>
<p id="tagline">I chews you</p>
<%= image_tag "shark_vector.png", alt: "shark cartoon" %>
<br>
<h2>Welcome to SharkBait, your number-one resource for all your shark needs</h2>
<ul>
<li>Ever felt like your life was hollow and needed a little bite?
</li>
<li>Are you allergic to cats but always wanted a pet?</li>
<li>Did you ever think dog-ownership was for self-hating suckers?</li>
</ul>
<h2>Sharbait is the place for you!</h2>

<a href="" class="btn-big">Meet the sharks now</a>

<h2>Thanks to SharkBait you can</h2>
<ul>
<li>Rent a shark, for all your sharking needs!</li>
<li>Impress your friends with your cool new shark pet!</li>
<li>Enjoy the thrills of shark ownership from the comfort of your own bathtub!</li>
</ul>

<%# <a href= "" class="btn-big">Sign-up now!</a> %>

