<div class="card-background">
  <div class="icon-title">
    <%= link_to sharks_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  <h2>Edit a Shark</h2>
  </div>
  <%= render 'sharks/form' %>
</div>
