<div class="card-homepage">
  <h2>Our Sharks</h2>
  <br>

  <div class="cards">
    <% @sharks.each do |shark| %>
      <div class="card-shark">
        <img src="<%= shark.picture_url%>" alt="">
        <div class="card-shark-info">
          <div class="card-flex-content">
            <h3 class="dark-text"><%= shark.name %></h3>
            <p class="dark-text"><strong>£<%= shark.price %></strong></p>
          </div>
          <%= link_to "Chews me", shark_path(shark), class: "btn-big" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
