.footer {
  background: #aac4fc;                       
  padding: 30px;                             
  border-radius: 4px;                        
  box-shadow: 0 10px 30px rgba(0,0,0,.1); 
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: url(ocean1);
  a {
    text-decoration: none;
    font-size: 12;
    color: #0d1c3d
  }
}

.body {
  min-height: 100vh;
}

