.footer {
  background: #aac4fc;                       
  padding: 30px;                             
  border-radius: 4px;                        
  box-shadow: 0 10px 30px rgba(0,0,0,.1); 
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: url(ocean4);
  background-size: cover;
  a {
    text-decoration: none;
    font-size: 16;
    text-shadow: 4px;
    color: white;
    
  }
}

.body {
  min-height: 100vh;
}

