.footer {
  border-radius: 0px;
  padding-top: 14px;
  background: #aac4fc;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: url(ocean4);
  background-size: cover;
}

.col a {
  text-decoration: none;
  text-shadow: 4px;
  color: white;
}

.col p{
  text-align: center;
  font-size: 14px;
}
