.container-pages h1 {
  color: white;
  font-family: 'Climate Crisis', cursive;
  font-size: 28px
}

.container-pages h2 {
  color: white;
  font-size: 24px
}

.container-pages ul, p {
  color: white;
  font-style: italic;
  font-size: 20px;
}

