.container-bookings {
  display: flex;
  margin: 30px;
}

.bookings-card-info h3, .bookings-card-info p {
  padding: 8px 0 0 8px;
}

#company_name{
  color: #00327F;
  font-family: 'Climate Crisis', cursive;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

#card-text-bookings{
  color: rgba(0, 0, 0, 0.6);
  h3{
    padding: 20px;
  }
}
