.container-bookings {
  display: flex;
  margin: 30px;
}

#company_name{
  color: white;
  font-family: 'Climate Crisis', cursive;
  font-size: 32px;
  padding: 20px;
  text-align: center;
}

#card-text-bookings{
  color:black;
  h3{
    padding: 20px;
  }
}
