.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position:sticky;
  top:0;
  width: 100%;
  z-index: 1100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-item {
  align-self: center;
}

.nav-link {
  color: #00327F
}

#dropdown-toggle {
  color: #00327F
}

.nav-height {
  height: 70px;
}

.navbar-lewagon #company_name{
  color: #00327F;
  font-family: 'Climate Crisis', cursive;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.navbar-lewagon .red-text {
  color: rgb(148, 2, 2);
}
