.card-shark {
  background-color: white;
  width: 400px;
}

.card-shark img {
  width: 100%;
}

.card-shark-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end
}

.card-shark-info h3, .card-shark-info p {
  margin: 0
}
