.card-shark {
  background-color: white;
  width: 400px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.card-shark img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.card-shark-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}

.card-shark-info h4, .card-shark-info p {
  margin: 0
}

.text-price {
  font-weight: bold;
}
